body{
    text-align: center;
    background-color: var(--black-075);
    font-size: 2rem;
}
h1{
    background-color: rgba(0, 0, 0, 0.644);
    color: white !important;
    padding: 1rem;
    margin: 2rem 4rem;
}
#myform{
    background-color: rgb(255, 217, 0);
    width: 60%;
    font-size: 2rem;
    text-align: left;
    padding: 2rem 4rem;
    border: 3px solid black;
    border-radius: 8px;
    margin: auto;
}

#myform input,select,fieldset{
    margin: 1rem;
    border-radius: 4px;
    text-align: center;
    font-size: 1.8rem;
    padding: .5rem;
}

fieldset {
    text-align: left;
  }
  
  legend {
    padding: 5px 10px;
  }
  #same{
      font-weight: normal;
  }
  button{
      padding: 2rem;
  }